page-register {
    .form-container {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
    }
    .form-content {
        display: block;
        margin-top: 30px;
        box-sizing: inherit;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .item-1 {
        text-align: left;
        margin: 10px;
    }
    .item-2 {
        max-width: 80%;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    ion-input {
        max-width: 80%;
        border-block-end: 1px solid blue;
    }
    ion-icon {
        font-size: 25px;
        margin-top: 15px;
        margin-left: 10px;
    }
    ion-icon:hover {
        color: black;
    }
}