page-item-detail {
    .container {
        width: 100%;
    }
    .item {
        width: 80%;
        color: black;
        border-bottom: 1px solid black;
    }
    ion-input {
        color: blue;
    }
    .date {
        margin-top: 20px;
        text-align: right;
        color: #4d4d4d
    }
}