page-personal-option {
    .toolbar-title-ios {
        text-align: left;
    }
    .toolbar-title {
        overflow: visible;
    }
    .item-md {
        font-size: 1.8rem;
    }
    .item-ios {
        font-size: 1.8rem;
    }
}