page-home {
    .avatar {
        min-height: 40px;
        min-width: 40px;
        border-radius: 50%;
        background-color: chocolate;
        text-align: center;
        font-size: 20pt;
    }
}